<div class="main-div"> 

  <mat-card class="my-card">
     <mat-card-title style="color: antiquewhite;">REGISTER</mat-card-title>
     <mat-card-content>
        <form class="my-form" [formGroup]="registrationForm">
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input  matInput  placeholder="Username"  name="username" formControlName="userName"  autocomplete="off" maxlength="50">
            <mat-error *ngIf="hasError('userName','required')">
               username is required                    
            </mat-error>            
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" formControlName="email" name="email" autocomplete="off"> 
            <mat-error *ngIf="hasError('email','required')">
               email is required                    
            </mat-error>
            <mat-error *ngIf="hasError('email','email')">
               email must be a valid email                    
            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput type="password" placeholder="Password" formControlName="password" name="password" autocomplete="off" maxlength="20">
            <mat-hint align="end">Password must be alphanumeric characters</mat-hint>            
            <mat-error *ngIf="hasError('password','required')">password is required</mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input  matInput type="password"  placeholder="Confirm Password" formControlName="confirmPassword" name="password" autocomplete="off" maxlength="20">           
            <mat-error *ngIf="hasError('confirmPassword','required') ">
               Confirm Password is required
            </mat-error> 
            <!-- <mat-error *ngIf="f.confirmPassword.errors.confirmedValidator">
               Password and confirm password do not match
            </mat-error>  -->
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>UserRole</mat-label>
            <input  matInput  placeholder="UserRole"  name="UserRole" formControlName="userRole"  autocomplete="off" maxlength="50">
            <mat-error *ngIf="hasError('userRole','required')">
               userRole is required                    
            </mat-error>            
         </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions align="center"  >        
            <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
            <button mat-raised-button color="warn" (click)="Clear()" >CANCEL</button>
     </mat-card-actions>
  </mat-card>

</div>