
<div class="main-div"> 
<section fxLayout="row wrap" fxLayoutAlign="center center" >

      <mat-card class="my-card"  fxFlex.xs="100%">
         
         <mat-card-title style="color: antiquewhite;">LOGIN</mat-card-title>
         <mat-card-content>
            <form class="my-form" [formGroup]="loginForm"  >
               <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input  matInput id="Username" type="text"   formControlName="username" class="form-control" autocomplete="off" maxlength="50">
                  <mat-error *ngIf="hasError('username','required')">
                            username is required                    
                  </mat-error>
               </mat-form-field>
               <br>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input  matInput type="password" formControlName="password" class="form-control" maxlength="20">
                  <mat-error *ngIf="hasError('password','required')">password is required</mat-error>
               </mat-form-field>
            </form>
         </mat-card-content>
         <mat-card-actions align="center">
            <button mat-raised-button  color="primary" [disabled]="!loginForm.valid"  (click)="onSubmit()">LOGIN</button>
            <button mat-raised-button color="warn" (click)="Clear()" >CANCEL</button>
         </mat-card-actions>
         <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
         </div>
         <div align="center">
            NewUser?
            <a routerLink="/Register" class="btn btn-link"> Sign-Up</a>
            Forgot Password
            <a routerLink="/" class="btn btn-link">click-here</a>
         </div>     
      </mat-card>        
</section>

</div>