

// mat-form-field{
//     width: 200px;
// }
mat-card-title{
    text-align: center;
}
.mat-form-field:nth-child(n) {
    margin-right: 10px;
}
.mat-raised-button:nth-child(1){
    margin-right: 10px;
}