
<!-- <section>
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>Are you sure you want to Logout?</div>
    <div mat-dialog-actions>            
        <button mat-raised-button id="modal-action-button" color="warn" (click)="actionFunction()">
            LogOut
        </button>
        <button type="button" mat-raised-button  color="primary" (click)="closeModal()">
            Cancel
        </button>
    </div>   
</section> -->



<div class="main-div"> 
    <section fxLayout="row wrap" fxLayoutAlign="center center" >
       
          <mat-card class="my-card" fxFlex="500px" fxFlex.xs="100%">             
             <mat-card-title style="color: rgb(12, 10, 7);">LogOut</mat-card-title>
             <mat-card-content align="center">   
                 <div>Are you sure you want to Logout?</div>             
             </mat-card-content>
             <mat-card-actions align="center">
                <button mat-raised-button  color="primary"   (click)="LogOut()">LogOut</button>
                <button mat-raised-button color="warn" (click)="Clear()" >CANCEL</button>
             </mat-card-actions>                 
          </mat-card>        
    </section>    
</div>